---
---
<div class="nav-links">
    <a href="/my-astro-page/">Home</a>
    <a href="/my-astro-page/about/">About</a>
    <a href="/my-astro-page/blog/">Blog</a>
    <a href="/my-astro-page/tags/">Tags</a>
</div>